<div>
    <h2 mat-dialog-title>
        Nueva Reserva
    </h2>
</div>
<form  >
    <mat-dialog-content>
    
            <div fxLayout="column">
                <div fxLayout="row">
                    ¿Desea realizar otra reserva antes de proceder a pagar?
                </div>
                
                
                
            </div>
        
    </mat-dialog-content>
    <mat-dialog-actions>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
            <button mat-raised-button type="button" color="primary" (click)="nuevaReserva()">
                <mat-icon>done</mat-icon>
                Si, deseo otra reserva
            </button>
            <button mat-raised-button type="button" (click)="pagar()">
                <mat-icon>reply</mat-icon>
                No, quiero ir a pagar
            </button>
    </div>
    </mat-dialog-actions>
</form>

