
<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Examen">
        <div class="mat-elevation-z8">
            <mat-table [dataSource]="data">
                <ng-container matColumnDef="descripcion">
                    <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell >
                    <mat-cell *matCellDef="let examen"> {{examen.descripcion}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="monto">
                    <mat-header-cell *matHeaderCellDef> Monto </mat-header-cell>
                    <mat-cell *matCellDef="let examen"> {{examen.monto}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
            </mat-table>
            
            <mat-paginator [pageSizeOptions]="comboPagina" [pageSize]="itemsPorPagina" #paginacion  [length]="totalExamenes"></mat-paginator>
        
        </div>
    </mat-tab>
    <mat-tab label="Usuario">
        1
    </mat-tab>
    <mat-tab label="Consultorio">
        <ng-template matTabContent>
            <mat-tab-group >
                <mat-tab label="Tipo de Consultorios">1</mat-tab>
                <mat-tab label="Consultorios">2</mat-tab>
            </mat-tab-group>
        </ng-template>
        
    </mat-tab>
</mat-tab-group>
 