
<div fxFlex="row wrap" fxLayoutGap="20px">
    <mat-card fxFlex="20" *ngFor="let examen of examenes">
        
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
           {{examen.descripcion}}
           
          </p>
          <p>
              Costo: {{examen.monto}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="btnReservar(examen?.idExamen || 0)">Reservar</button>
        </mat-card-actions>
      </mat-card>
</div>