// mat-table{
//     width: 100%;
// }
.example-container {
    height: 400px;
    overflow: auto;
  }
  
table {
    width: 100%;
}

.horarios{
  margin-top: 30px;
}

.calendario{
  // height: 600px;
  width: 400px;
}
.fecha-nolaborable {
  background: rgb(255, 0, 0);
  border-radius: 100%;
}

.leyenda-horarios{
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 4px;
}
.leyenda-horarios.habilitado{
  background-color: #4caf50;
}
.leyenda-horarios .deshabilitado{
  background-color: white;
}