
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Tipo de Reservas">
      <div fxLayout="row" fxLayoutAlign="center">
         <div fxFlex="80">
          <mat-table [dataSource]="dataTipoReserva">
            <ng-container matColumnDef="descripcion">
                <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell >
                <mat-cell *matCellDef="let tipoReserva"> {{tipoReserva.descripcion}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="intervalo">
                <mat-header-cell *matHeaderCellDef> Intervalo </mat-header-cell>
                <mat-cell *matCellDef="let tipoReserva"> {{tipoReserva.intervalo}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="cantidad">
              <mat-header-cell *matHeaderCellDef> Max. Cantidad por Horario </mat-header-cell>
              <mat-cell *matCellDef="let tipoReserva"> {{tipoReserva.cantidad}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="rangoInicio">
              <mat-header-cell *matHeaderCellDef> Desde </mat-header-cell>
              <mat-cell *matCellDef="let tipoReserva"> {{tipoReserva.rangoInicio}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="rangoFinal">
              <mat-header-cell *matHeaderCellDef> Hasta </mat-header-cell>
              <mat-cell *matCellDef="let tipoReserva"> {{tipoReserva.rangoFinal}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="acciones">
              <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
              <mat-cell *matCellDef="let tipoReserva" fxLayout="row"> 
                <div>
                  <button mat-mini-fab type="button" (click)="btnActualizarTipoReserva(tipoReserva)" color="primary" >
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnaTipoReserva"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnaTipoReserva;"></mat-row>
          </mat-table>
         </div>
      </div>
  </mat-tab>
  <mat-tab label="Fechas">

   <div fxLayout="column" fxLayoutGap="40px" *ngIf="vistaInicial" >
        <div fxLayout="row" fxLayoutAlign="center">
          <div fxFlex="80" fxLayout="row" fxLayoutAlign="center">
            <mat-card class="calendario"  >
              <mat-calendar [selected]="fechaSeleccionada" [startView]="vistaInicial || 'month'"  (selectedChange)="fechaEscogida($event)" [dateClass]="agregarClaseCalendario()" [minDate]="fechaMinima"></mat-calendar>
            </mat-card>
            
          </div>

      </div>
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px" *ngIf="botonesCalendario">
        <button mat-raised-button type="button" color="accent" (click)="btnCancelarCalendario()">Cancelar</button>
        <button mat-raised-button type="button" color="primary" *ngIf="botonHabilitado" (click)="btnHabilitaroDeshabilitarFecha()">Habilitar</button>
        <button mat-raised-button type="button" color="warn" *ngIf="!botonHabilitado" (click)="btnHabilitaroDeshabilitarFecha()">Deshabilitar</button>

      </div>
   </div>

  </mat-tab>
  <mat-tab label="Horarios">

    <div class="horarios">
      <div fxLayout="row" fxLayoutAlign="center">
        <form [formGroup]="miFormulario" (ngSubmit)="fnConsultarHorarioNoDisponibles()" fxFlex="80"  fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px">
            <div fxLayout="row" fxLayoutGap="20px">
              <mat-form-field >
                <mat-label>Tipo Reserva</mat-label>
                <mat-select formControlName="tipoReserva" >
                  <mat-option [value]="0">::Seleccione::</mat-option>
                  <mat-option *ngFor="let item of tipoReservas" [value]="item">
                  {{item.descripcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field *ngIf="listado.length>0">
                  <mat-label>Listado</mat-label>
                  <mat-select formControlName="listado" >
                    <mat-option [value]="0">::Seleccione::</mat-option>
                    <mat-option *ngFor="let item of listado" [value]="item.id">
                    {{item.nombre}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field *ngIf="listado.length>0">
                  <mat-label>Año</mat-label>
                  <mat-select formControlName="anio" >
                    <mat-option [value]="0">::Seleccione::</mat-option>
                    <mat-option *ngFor="let item of anios" [value]="item.anio">
                    {{item.anio}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field *ngIf="listado.length>0 && mostrarMeses">
                <mat-label>Mes</mat-label>
                <mat-select formControlName="mes" >
                  <mat-option [value]="0">::Seleccione::</mat-option>
                  <mat-option *ngFor="let item of meses" [value]="item.mes">
                  {{item.valor}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field *ngIf="listado.length>0 && semanas.length>0">
                  <mat-label>Semana</mat-label>
                  <mat-select formControlName="semana" >
                    <mat-option [value]="0">::Seleccione::</mat-option>
                    <mat-option *ngFor="let item of semanas" [value]="item.semana">
                    {{item.semana}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
            <div>
              <button mat-raised-button type="submit" color="primary">Consultar</button>
            </div>
        </form>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="column" fxLayoutGap="20px" *ngIf="mostrarTabla">
      <div fxLayout="row" fxLayoutAlign="center">
          <div fxFlex="80" fxLayout="row" fxLayoutGap="10px">
            <button mat-raised-button (click)="estadoAccion=!estadoAccion" *ngIf="estadoAccion">
              modificar
            </button>
            <button mat-raised-button color="warn" *ngIf="!estadoAccion" (click)="fnConfirmarModificacion()">
              confirmar
            </button>
          </div>
          
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="80" fxLayout="row" fxLayoutAlign="center">
             <b>del {{fechaDel | date : 'dd/MM/yyyy'}} hasta {{fechaHasta | date : 'dd/MM/yyyy'}}</b>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="80"  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
             <b>Leyenda:</b>
             <div >Habilitado <span class=" leyenda-horarios habilitado"></span></div>
             <div >Deshabilitado <span class=" leyenda-horarios deshabilitado"></span></div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center" >
      
        <div class="example-container mat-elevation-z8" fxFlex="80">
          <mat-table [dataSource]="data" >
            <ng-container *ngFor="let item of columnas; let i=index" [matColumnDef]="item">
              <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center"> 
                <div *ngIf="item!=='horario'">
                  <mat-checkbox 
                        [disabled]="estadoAccion || diasDisableados[i-1]"
                        (change)="setAll($event.checked,item)">
                        {{item | titlecase}} 
                  </mat-checkbox>
                </div>
                <div *ngIf="item==='horario'">
                  {{item | titlecase}} 
                </div>
              </mat-header-cell >
              <mat-cell  *matCellDef="let horario" fxLayoutAlign="center center"> 
                <div *ngIf="item==='horario'"> {{horario[item] | date : 'hh:mm a'}} </div> 
                <div *ngIf="item!=='horario'"> 
                
                  <mat-checkbox [(ngModel)]="horario.dia[i-1].habilitado"
                        [disabled]="estadoAccion || diasDisableados[i-1]" >
                  </mat-checkbox>
                </div> 
              </mat-cell>
            </ng-container>
            <!-- <ng-container matColumnDef="horario">
                <mat-header-cell *matHeaderCellDef>
                    {{'horario' | titlecase}}
                </mat-header-cell>
                <mat-cell *matCellDef="let horario">
                   {{horario.horario | date: 'hh:mm a'}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="domingo">
              <mat-header-cell *matHeaderCellDef>
                <mat-checkbox 
                [disabled]="estadoAccion"
                (change)="setAll($event.checked,'domingo')">
                  {{'domingo' | titlecase}} 
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let horario">
                  <mat-checkbox [(ngModel)]="horario.dia[0].habilitado"
                    [disabled]="horario.dia[0].deshabilitar" >
                  </mat-checkbox>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="lunes">
              <mat-header-cell *matHeaderCellDef>
                <mat-checkbox 
                [disabled]="estadoAccion"
                (change)="setAll($event.checked,'lunes')">
                  {{'lunes' | titlecase}} 
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let horario">
                    <mat-checkbox [(ngModel)]="horario.dia[1].habilitado"
                    [disabled]="horario.dia[1].deshabilitar" >
                  </mat-checkbox>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="martes">
              <mat-header-cell *matHeaderCellDef>
                <mat-checkbox 
                [disabled]="estadoAccion"
                (change)="setAll($event.checked,'martes')">
                  {{'martes' | titlecase}} 
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let horario">
                    <mat-checkbox [(ngModel)]="horario.dia[2].habilitado"
                    [disabled]="horario.dia[2].deshabilitar" >
                  </mat-checkbox>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="miercoles">
              <mat-header-cell *matHeaderCellDef>
                <mat-checkbox 
                [disabled]="estadoAccion"
                (change)="setAll($event.checked,'miercoles')">
                  {{'miercoles' | titlecase}} 
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let horario">
                    <mat-checkbox [(ngModel)]="horario.dia[3].habilitado"
                    [disabled]="horario.dia[3].deshabilitar" >
                  </mat-checkbox>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="jueves">
              <mat-header-cell *matHeaderCellDef>
                <mat-checkbox 
                [disabled]="estadoAccion"
                (change)="setAll($event.checked,'jueves')">
                  {{'jueves' | titlecase}} 
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let horario">
                    <mat-checkbox [(ngModel)]="horario.dia[4].habilitado"
                    [disabled]="horario.dia[4].deshabilitar" >
                  </mat-checkbox>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="viernes">
              <mat-header-cell *matHeaderCellDef>
                <mat-checkbox 
                [disabled]="estadoAccion"
                (change)="setAll($event.checked,'viernes')">
                  {{'viernes' | titlecase}} 
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let horario">
                  <mat-checkbox [(ngModel)]="horario.dia[5].habilitado"
                  [disabled]="horario.dia[5].deshabilitar" >
                </mat-checkbox>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="sabado">
              <mat-header-cell *matHeaderCellDef>
                <mat-checkbox 
                [disabled]="estadoAccion"
                (change)="setAll($event.checked,'sabado')">
                  {{'sabado' | titlecase}} 
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let horario">
                    <mat-checkbox [(ngModel)]="horario.dia[6].habilitado"
                    [disabled]="horario.dia[6].deshabilitar" >
                  </mat-checkbox>
              </mat-cell>
          </ng-container> -->
            <mat-header-row *matHeaderRowDef="columnas; sticky:true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
        </mat-table>
        
        </div>
        
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center" *ngIf="mostrarSpinner">
      <mat-spinner></mat-spinner>
    </div>

    </div>
  </mat-tab>
  
</mat-tab-group>
