
   

    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Extras">
            
            <ng-template matTabContent>
                <mat-tab-group mat-align-tabs="start" [selectedIndex]="0">
                    <mat-tab label="Especialidades">
                        <form [formGroup]="miFormularioEspecialidad" fxLayout="row" fxLayoutAlign="center" (ngSubmit)="registrarEspecialidad()">
                            <div fxLayout="column" fxFlex="50" fxLayoutGap="20px">
                                <mat-form-field >
                                    <mat-label>Descripcion</mat-label>
                                    <input formControlName="descripcion" matInput>
                                </mat-form-field>
                                <mat-form-field >
                                    <mat-label>Monto</mat-label>
                                    <input formControlName="monto" matInput type="number">
                                </mat-form-field>
                                <div>
                                    <button mat-raised-button color="primary" type="submit">Registrar</button>
                                </div>
                            </div>
                            
                        </form>
                    </mat-tab>
                    <mat-tab label="Tipos de Consultorios">
                        <form [formGroup]="miFormularioTipoConsultorio" fxLayout="row" fxLayoutAlign="center" (ngSubmit)="registrarTipoConsultorio()">
                            <div fxLayout="column" fxFlex="50" fxLayoutGap="20px">
                                <mat-form-field >
                                    <mat-label>Descripcion</mat-label>
                                    <input formControlName="descripcion" matInput>
                                </mat-form-field>
                              
                                <div>
                                    <button mat-raised-button color="primary" type="submit">Registrar</button>
                                </div>
                            </div>
                            
                        </form>
                    </mat-tab>
                </mat-tab-group>
            </ng-template>
        </mat-tab>
        <mat-tab label="Examen">
            <form [formGroup]="miFormularioExamen" fxLayout="row" fxLayoutAlign="center" (ngSubmit)="registrarExamen()">
                <div fxLayout="column" fxFlex="50" fxLayoutGap="20px">
                    <mat-form-field >
                        <mat-label>Descripcion</mat-label>
                        <textarea formControlName="descripcion" matInput></textarea>
                    </mat-form-field>
                    <mat-form-field >
                        <mat-label>Monto</mat-label>
                        <input formControlName="monto" matInput type="number">
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary" type="submit">Registrar</button>
                    </div>
                </div>
                
            </form>
        </mat-tab>
        <mat-tab label="Usuario">
            <form [formGroup]="miFormularioUsuario" fxLayout="row" fxLayoutAlign="center" (ngSubmit)="registrarUsuario()" >
                <div fxLayout="column" fxFlex="50" fxLayoutGap="20px">
                    <mat-form-field >
                        <mat-label>Nombre</mat-label>
                        <input formControlName="nombre" matInput>
                    </mat-form-field>
                    <mat-form-field >
                        <mat-label>Apellido</mat-label>
                        <input formControlName="apellido" matInput>
                    </mat-form-field>
                    <mat-form-field >
                        <mat-label>Descripcion</mat-label>
                        <textarea formControlName="descripcion" matInput></textarea>
                    </mat-form-field>
                    <mat-form-field >
                        <mat-label>Usuario</mat-label>
                        <input formControlName="usuario" matInput>
                    </mat-form-field>
                    <mat-form-field >
                        <mat-label>Contraseña</mat-label>
                        <input formControlName="contrasena" type="password" matInput>
                    </mat-form-field>
                    <mat-form-field >
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput>
                    </mat-form-field>
                    <mat-form-field >
                        <mat-label>Rol</mat-label>
                        <mat-select formControlName="rol" >
                          <mat-option [value]="0">::Seleccione::</mat-option>
                          <mat-option *ngFor="let item of roles" [value]="item.idRol">
                          {{item.titulo}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="mostrarParaDoctor">
                        <mat-label>Especialidad</mat-label>
                        <mat-select formControlName="especialidad" >
                          <mat-option [value]="0">::Seleccione::</mat-option>
                          <mat-option *ngFor="let item of especialidades" [value]="item.idEspecialidad">
                          {{item.descripcionEspecialidad}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="mostrarParaDoctor">
                        <mat-label>Modalidad</mat-label>
                        <mat-select formControlName="modalidad" >
                          <mat-option [value]="0">::Seleccione::</mat-option>
                          <mat-option *ngFor="let item of modalidades" [value]="item.idModalidad">
                          {{item.descripcionModalidad}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary" type="submit">Registrar</button>
                    </div>
                </div>
                
            </form>
        </mat-tab>
        <mat-tab label="Consultorios">
            <form [formGroup]="miFormularioConsultorio" fxLayout="row" fxLayoutAlign="center" (ngSubmit)="registrarConsultorio()">
                <div fxLayout="column" fxFlex="50" fxLayoutGap="20px">
                    <mat-form-field >
                        <mat-label>Descripcion</mat-label>
                        <input formControlName="nombre" matInput>
                    </mat-form-field>
                    <mat-form-field >
                        <mat-label>Monto</mat-label>
                        <input formControlName="monto" matInput type="number">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Tipo Consultorio</mat-label>
                        <mat-select formControlName="tipoConsultorio" >
                          <mat-option [value]="0">::Seleccione::</mat-option>
                          <mat-option *ngFor="let item of tipoConsultorios" [value]="item.idTipoConsultorio">
                          {{item.descripcion}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary" type="submit">Registrar</button>
                    </div>
                </div>
                
            </form>
        </mat-tab>
    </mat-tab-group>
     