<div>
    <h2 mat-dialog-title>
        Edicion del Tipo de Reserva
    </h2>
</div>
<form  [formGroup]="miFormularioTipoReserva" (ngSubmit)="confirmar()">
    <mat-dialog-content>
    
            <div fxLayout="column">
                <div fxLayout="row">
                    <mat-form-field >
                        <mat-label>Tipo Reserva</mat-label>
                        <mat-select formControlName="tipoReserva" >
                          <mat-option [value]="0">::Seleccione::</mat-option>
                          <mat-option *ngFor="let item of tipoReservas" [value]="item.idTipoReserva">
                          {{item.descripcion}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      
                </div>
                <div fxLayout="row" *ngIf="listado.length>0">
                    <mat-form-field >
                        <mat-label>Listado</mat-label>
                        <mat-select formControlName="listado" >
                          <mat-option [value]="0">::Seleccione::</mat-option>
                          <mat-option *ngFor="let item of listado" [value]="item.id">
                          {{item.nombre}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
                
                
            </div>
        
    </mat-dialog-content>
    <mat-dialog-actions>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
            <button mat-raised-button type="submit" color="primary">
                <mat-icon>done</mat-icon>
                Confirmar
            </button>
            
    </div>
    </mat-dialog-actions>
</form>
