<div>
    <h2 mat-dialog-title>
        Edicion del Tipo de Reserva
    </h2>
</div>
<form [formGroup]="formularioTipoReserva" (ngSubmit)="btnConfirmar()">
    <mat-dialog-content>
    
            <div fxLayout="column">
                <div fxLayout="row">
                    <mat-form-field fxFlex="100">
                        <mat-label>Descripcion</mat-label>
                        <input formControlName="descripcion" matInput type="text">
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <mat-form-field fxFlex="100">
                        <mat-label>Cantidad max. por horario</mat-label>
                        <input formControlName="cantidad" matInput type="text">
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <mat-form-field fxFlex="100">
                        <mat-label>Intervalo</mat-label>
                        <input formControlName="intervalo" matInput type="text">
                    </mat-form-field>
                </div>
                
                
            </div>
        
    </mat-dialog-content>
    <mat-dialog-actions>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
            <button mat-raised-button type="submit" color="primary">
                <mat-icon>done</mat-icon>
                Confirmar
            </button>
            <button mat-raised-button type="button" (click)="btnCerrar()">
                <mat-icon>reply</mat-icon>
                Cancelar
            </button>
    </div>
    </mat-dialog-actions>
</form>
