<div class="consulta-reserva" fxLayout="column">
    <div fxLayout="row" >

        <form  fxLayout="row" fxFlex="50" [formGroup]="miFormularioConsulta" (ngSubmit)="btnConsultar()" fxLayoutAlign="center center" fxLayoutAlign="space-between center" >
            <div fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="20px">
                
        
               
               
                
               
                <mat-form-field appearance="fill">
                    <mat-label>Escoja un rango de fechas</mat-label>
                    <mat-date-range-input formGroupName="rango" [rangePicker]="picker">
                      <input matStartDate formControlName="desde" placeholder="desde">
                      <input matEndDate formControlName="hasta" placeholder="hasta">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  
                   
                </mat-form-field>
                  
                <mat-form-field >
                    <mat-label>Estado Reserva</mat-label>
                    <mat-select formControlName="cEstado" >
                      <mat-option value="">::Todos::</mat-option>
                      <mat-option *ngFor="let item of estados" [value]="item.valor">
                      {{item.descripcion}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
               
                
            </div>
            <div fxLayout="row" fxLayout="start center">
                <button mat-raised-button type="submit" color="primary">Consultar</button>
            </div>
            
        </form>

    </div>
    <div fxLayout="row">
        <div class="mat-elevation-z8" fxFlex="100">
            <table mat-table [dataSource]="data" multiTemplateDataRows>
                <ng-container matColumnDef="datoBasico">
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="4"> Información de datos Básicos </th>
                </ng-container>
                <ng-container matColumnDef="datoSecundario" >
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="4"> Información de datos Secundarios </th>
                </ng-container>
                <ng-container matColumnDef="datoPago" >
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]="4"> Información de pago </th>
                </ng-container>
                <ng-container matColumnDef="cliente">
                    <th mat-header-cell *matHeaderCellDef> Cliente </th >
                    <td mat-cell *matCellDef="let reserva"> {{reserva.nombreCliente}} {{reserva.apellidoCliente}} </td>
                </ng-container>
                <ng-container matColumnDef="tipoReserva">
                    <th mat-header-cell *matHeaderCellDef> Tipo de Reserva </th>
                    <td mat-cell *matCellDef="let reserva"> {{reserva.descripcionTipoReserva}} </td>
                </ng-container>
                <ng-container matColumnDef="examen">
                    <th mat-header-cell *matHeaderCellDef> Servicio </th>
                    <td mat-cell *matCellDef="let reserva"> {{reserva.descripcionServicio}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let reserva"> {{reserva.emailCliente}} </td>
                </ng-container>
                <ng-container matColumnDef="dni">
                    <th mat-header-cell *matHeaderCellDef> D.N.I </th>
                    <td mat-cell *matCellDef="let reserva"> {{reserva.dniCliente}} </td>
                </ng-container>
                <ng-container matColumnDef="formaPago">
                    <th mat-header-cell *matHeaderCellDef> Forma de pago </th>
                    <td mat-cell *matCellDef="let reserva"> {{reserva.descripcionFormaPago}} </td>
                </ng-container>
                <ng-container matColumnDef="fechaReservaTemporal">
                    <th mat-header-cell *matHeaderCellDef> Ultima actualización </th>
                    <td mat-cell *matCellDef="let reserva"> {{reserva.fechaReservaTemporal}} </td>
                </ng-container>
                <ng-container matColumnDef="fechaReserva">
                    <th mat-header-cell *matHeaderCellDef> Fecha Reserva </th>
                    <td mat-cell *matCellDef="let reserva"> {{reserva.fechaReserva}} </td>
                </ng-container>
                <ng-container matColumnDef="horaInicio">
                    <th mat-header-cell *matHeaderCellDef> Hora Inicio </th>
                    <td mat-cell *matCellDef="let reserva"> {{reserva.horaInicio}} </td>
                </ng-container>
                <ng-container matColumnDef="horaFin">
                    <th mat-header-cell *matHeaderCellDef> Hora Fin </th>
                    <td mat-cell *matCellDef="let reserva"> {{reserva.horaFin}} </td>
                </ng-container>
                <ng-container matColumnDef="montoPago">
                    <th mat-header-cell *matHeaderCellDef> Monto a Pagar</th>
                    <td mat-cell *matCellDef="let reserva"> {{reserva.montoPago}} </td>
                </ng-container>
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef> Estado</th>
                    <td mat-cell *matCellDef="let reserva"> {{reserva.cEstado}} </td>
                </ng-container>
               
                <tr mat-header-row *matHeaderRowDef="primeraColumna"></tr>
                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
            </table>
            
            <mat-paginator [pageSizeOptions]="comboPagina" [pageSize]="itemsPorPagina" #paginacion [length]="totalReserva" ></mat-paginator>
        
        </div>
    </div>
</div>
