.consulta-reserva{
    margin-top: 10px;
    padding: 20px;
}

table{
    width: 100%;
}

.mat-header-cell{
    text-align: center;
    padding: 0px!important;
    border: 2px solid #dee2e6;
    font-size: 10px;
    font-weight: bold;
    color: black;
}

.mat-cell{
    text-align: center;
    border: 2px solid #dee2e6;
}