
<mat-horizontal-stepper #stepper linear ngClass="{{ 'last-edited-step-' + stepper.selectedIndex }}" labelPosition="bottom">
    <mat-step [stepControl]="miFormulario" label="Datos Básicos" state="basico">
        <form  fxLayout="row" [formGroup]="miFormulario" fxLayoutAlign="center" (ngSubmit)="btnRealizarReservaParcial()" >
            <div fxLayout="column" fxFlex="50" fxLayoutGap="20px">
                
        
                <div fxLayout="row"  fxLayoutGap="20px">
                    <div>
                        <span>¿Ha realizado reserva con nosotros?</span>
                    </div>
                    
                    <mat-radio-group  formControlName="realizoReserva" fxLayout="row" fxLayoutGap="10px">
                        <mat-radio-button [value]="true">Si</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                </div>
               
                <div fxLayout="row" fxLayoutGap="20px" *ngIf="realizoReservaAntes">
                    <mat-form-field  fxFlex="100">
                        <mat-label>DNI</mat-label>
                        <input soloNumeros maxlength="8" matInput formControlName="dni" >
                    </mat-form-field>
                    <div >
                        <button mat-raised-button color="warn" type="button" (click)="btnValidarDNI()">Validar</button>
                    </div>
                </div>
               
                <mat-form-field *ngIf="!realizoReservaAntes" >
                    <mat-label>Nombres</mat-label>
                    <input  matInput formControlName="nombre">
                    <mat-error *ngIf="campoEsValidoFormBasico('nombre')"> Debe escribir sus nombres </mat-error>
                </mat-form-field>
               
                <mat-form-field *ngIf="!realizoReservaAntes">
                    <mat-label>Apellidos</mat-label>
                    <input  matInput formControlName="apellido" >
                    <mat-error *ngIf="campoEsValidoFormBasico('apellido')"> Debe escribir sus apellidos </mat-error>

                </mat-form-field>
               
                <mat-form-field *ngIf="!realizoReservaAntes">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-error *ngIf="campoEsValidoFormBasico('email')"> Debe escribir un email </mat-error>

                </mat-form-field>
                
                <mat-form-field *ngIf="!realizoReservaAntes" >
                    <mat-label>Telefono</mat-label>
                    <input  matInput formControlName="telefono" soloNumeros maxlength="9"> 
                    <mat-error *ngIf="campoEsValidoFormBasico('telefono')"> Debe escribir un telefono </mat-error>

                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="center">
                    <button mat-raised-button color="primary" type="submit" matStepperNext>Siguiente</button>
                </div>
            </div>
            
        </form>
      
    </mat-step>
    <mat-step label="Escoge la fecha y hora deseada" [stepControl]="miFormularioFecha" state="calendario">
        <form fxLayout="row" [formGroup]="miFormularioFecha"  fxLayoutAlign="center" >
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex="50" >
                <div >
                    <mat-card class="calendario"  >
                        <mat-calendar [selected]="fechaEscogida"  [minDate]="fechaMinima" [dateFilter]="validarDias" (selectedChange)="escogerFecha($event)"></mat-calendar>
                    </mat-card>
                </div>
                <div *ngIf="horariosParaCliente.length>0">
                    <mat-card  >
                        <mat-radio-group fxLayout="row wrap" fxLayoutGap="20px" formControlName="horarioEscogido">
                            <mat-radio-button fxFlex="20" class="horario" *ngFor="let horario of horariosParaCliente" [disabled]="horario.deshabilitado" [value]="horario.fecha">
                                {{horario.fecha| date : 'hh:mm a'}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </mat-card>
                </div>
                <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
                    <button mat-raised-button type="button" matStepperPrevious>Atras</button>
                    <button mat-raised-button color="primary" type="button" matStepperNext>Siguiente</button>
                </div>
                
            </div>
        </form>
       
    </mat-step>

    <mat-step label="Datos secundarios" [stepControl]="miFormularioSecundario" state="save">
        <form  fxLayout="row" [formGroup]="miFormularioSecundario" (ngSubmit)="btnRealizarReservaCompleta()" fxLayoutAlign="center" >
            <div fxLayout="column" fxFlex="50" fxLayoutGap="20px">
                
    
                <mat-form-field >
                    <mat-label>DNI</mat-label>
                    <input soloNumeros maxlength="8" matInput formControlName="dni" >
                    <mat-error *ngIf="campoEsValidoFormSecundario('dni')"> Debe escribir un DNI </mat-error>
                </mat-form-field>
               
                <mat-form-field >
                    <mat-label>Distrito</mat-label>
                    <input  matInput formControlName="distrito" >
                </mat-form-field>
               
                <mat-form-field >
                    <mat-label>Edad</mat-label>
                    <input soloNumeros matInput formControlName="edad">
                </mat-form-field>
                <div fxLayout="row" fxLayoutGap="20px" >
                    <mat-form-field >
                        <mat-label>Codigo de descuento</mat-label>
                        <input  matInput formControlName="descuento" >
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="warn" type="button" >Validar Cupón</button>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutGap="20px">
                    <div>
                        <span>Tipo comprobante</span>
                    </div>
                    
                    <mat-radio-group  formControlName="tipoComprobante" fxLayout="row" fxLayoutGap="10px">
                        <mat-radio-button [value]="true">Factura</mat-radio-button>
                        <mat-radio-button [value]="false">Boleta</mat-radio-button>
                    </mat-radio-group>
                </div>
                <mat-form-field *ngIf="tipoComprobante" >
                    <mat-label>RUC</mat-label>
                    <input soloNumeros  matInput maxlength="11" formControlName="ruc" >
                </mat-form-field>
                <mat-form-field *ngIf="tipoComprobante" >
                    <mat-label>Razon Social</mat-label>
                    <input  matInput formControlName="razonSocial" >
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
                    <button mat-raised-button type="button" matStepperPrevious>Atras</button>
                    <button mat-raised-button color="primary" type="submit" matStepperNext >Pasar al pago</button>
                </div>
            </div>
            
        </form>
    </mat-step>
  
    <!-- Icon overrides. -->
    <ng-template matStepperIcon="basico">
      <mat-icon>face</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="calendario">
      <mat-icon>event</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="horario">
        <mat-icon>schedule</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="secundario">
      <mat-icon>save</mat-icon>
    </ng-template>
</mat-horizontal-stepper>
