
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$reservaMedicaUi-primary: mat-palette($mat-indigo);
$reservaMedicaUi-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$reservaMedicaUi-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$reservaMedicaUi-theme: mat-light-theme((
  color: (
    primary: $reservaMedicaUi-primary,
    accent: $reservaMedicaUi-accent,
    warn: $reservaMedicaUi-warn
  )
));

$checkboxCustom-primary: mat-palette($mat-green);
$checkboxCustom-theme : mat-light-theme((
  color:(
    primary:$checkboxCustom-primary,
    accent:$checkboxCustom-primary,
    warn:$checkboxCustom-primary
  )
));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($reservaMedicaUi-theme);
@include mat-checkbox-color($checkboxCustom-theme);
@include mat-radio-color($checkboxCustom-theme);
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@mixin styleStepLine($index) {
  .mat-horizontal-stepper-header {
      &+.mat-stepper-horizontal-line:nth-child(#{$index}) {
          height: 2px;
          background-image: linear-gradient(to right, #00b495, #00aeea);
      }
  }
}
.last-edited-step-1 {
  @include styleStepLine(2);
}

.last-edited-step-2 {
  @include styleStepLine(2);
  @include styleStepLine(4);
}

.last-edited-step-3 {
  @include styleStepLine(2);
  @include styleStepLine(4);
  @include styleStepLine(6);
}

// mat-checkbox {
//   &.mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background {
//    background: rgb(0,178,0);
//   }
// }
