<!-- <div fxLayout="column" fxLayoutGap="20px">

    <mat-card  *ngFor="let pago of pagosAmostrar">
        
        <mat-card-title>
            {{pago.descripcionExamen}}
        </mat-card-title>
     
        <mat-card-content>
          <div fxLayout="row">
                <div fxFlex="50">
                    Tipo de Reserva:
                </div>
                <div fxFlex="50">
                    {{pago.descripcionTipoReserva}}
                </div>
          </div>
          <div fxLayout="row">
                <div fxFlex="50">
                    Fecha de Reserva:
                </div>
                <div fxFlex="50">
                    {{pago.fechaDate | date : 'fullDate'}}
                </div>
           </div>
           <div fxLayout="row">
                <div fxFlex="50">
                     Hora Inicio:
                </div>
                <div fxFlex="50">
                    {{pago.fechaInicioDate | date : 'hh:mm a'}}
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="50">
                     Hora Fin:
                </div>
                <div fxFlex="50">
                    {{pago.fechaFinDate | date : 'hh:mm a'}}
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="50">
                     Monto a Pagar:
                </div>
                <div fxFlex="50">
                    S/.{{pago.montoPago}}
                </div>
            </div>
        </mat-card-content>
        
    </mat-card>

    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px" *ngIf="formaPagos.length>0">
        <div>
            <mat-form-field >
                <mat-label>Forma de Pago</mat-label>
                <mat-select [formControl]="selectFormaPago">
                  <mat-option [value]="0">::Seleccione::</mat-option>
                  <mat-option *ngFor="let item of formaPagos" [value]="item.idFormaPago">
                  {{item.descripcion}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="primary" >Pagar</button>
        </div>
    </div>
</div> -->

<div class="mat-elevation-z8" >
    <table mat-table [dataSource]="data"  multiTemplateDataRows>
        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripcion </th >
            <td mat-cell *matCellDef="let pago"> 
                {{pago.descripcion}}    
            </td>
          
        </ng-container>
        <ng-container matColumnDef="tipoReserva">
            <th mat-header-cell *matHeaderCellDef> Tipo Reserva </th>
            <td mat-cell *matCellDef="let pago"> {{pago.descripcionTipoReserva}} </td>
            
        </ng-container>
        <ng-container matColumnDef="fechaReserva">
            <th mat-header-cell *matHeaderCellDef> Fecha de Reserva </th>
            <td mat-cell *matCellDef="let pago"> {{pago.fechaReserva}} </td>
         
        </ng-container>
        <ng-container matColumnDef="horaInicio">
            <th mat-header-cell *matHeaderCellDef> Hora Inicio </th>
            <td mat-cell *matCellDef="let pago"> {{pago.horaInicio}} </td>
          
        </ng-container>
        <ng-container matColumnDef="horaFin">
            <th mat-header-cell *matHeaderCellDef> Hora Fin </th>
            <td mat-cell *matCellDef="let pago"> {{pago.horaFin}} </td>
           
        </ng-container>
        <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef> Monto </th>
            <td mat-cell *matCellDef="let pago"> {{pago.montoPago}} </td>
          
        </ng-container>
        <ng-container matColumnDef="total">
            
            <td mat-footer-cell *matFooterCellDef [attr.colspan]="3" > Total </td>
        </ng-container>
        <ng-container matColumnDef="montoTotal">
          
            <td mat-footer-cell *matFooterCellDef [attr.colspan]="3"> S/.{{obtenerTotal()}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
        <tr mat-footer-row *matFooterRowDef="['total','montoTotal']"></tr>
    </table>
    


</div>

<div class="pagos" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px" *ngIf="formaPagos.length>0">
    <div>
        <mat-form-field >
            <mat-label>Forma de Pago</mat-label>
            <mat-select [formControl]="selectFormaPago">
              <mat-option [value]="0">::Seleccione::</mat-option>
              <mat-option *ngFor="let item of formaPagos" [value]="item.idFormaPago">
              {{item.descripcion}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button color="primary" type="button" (click)="btnPagarReservas()" >Pagar</button>
    </div>
</div>